$go-green: rgba(11, 181, 101, 1);
$english-green: rgba(22, 89, 80, 1);
$pewter-blue: rgba(137, 172, 167, 1);
$eerie-black: rgba(35, 24, 28, 1);
$pale-cornflower-blue: rgba(176, 210, 245, 1);
$deep-koamaru: #34316B;
